.spacer {
  flex: 1 1 auto;
}

.container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.victim-form {
  display: flex;
  flex-direction: column;
}
