<div class="container">
  <h2 class="mat-headline"> {{ (case$ | async)?.context }}</h2>

  <mat-card *ngFor="let victim of victims$ | async; let i = index">
    <div class="card-header">
      <h3 class="card-title">Victima {{ i + 1 }}</h3>
      <mat-card-subtitle>{{ victim.name }}, {{ victim.age }}</mat-card-subtitle>

      <div class="card-actions-container">

      </div>
    </div>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let lesion of victim.lesions"> 
          {{ lesion.name }}  
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
