.mat-headline{
    text-align: center;
}

.card-title{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.mat-card-subtitle{
    margin-bottom: 8px;
}

.container{
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.mat-list-base .mat-list-item{
    height: 32px;
    font-size: 14px;
    color: rgba($color: #000, $alpha: 0.54);
}

mat-card{
    margin-bottom: 16px;
}