/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~normalize.css";

html,
body{
    width: 100%;
    height: 100%;
}

.mat-headline{
    color: rgba($color: #000, $alpha: 0.87);
}