/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~normalize.css";
@import 'assets/scss/_variables.scss';

html,
body{
    width: 100%;
    height: 100%;
}

.mat-headline{
    color: rgba($color: #000, $alpha: 0.87);
}

.text-center{
    text-align: center;
}

app-maneuver {
  &:not(:last-child) { 
    .maneuver-container {
      border-bottom: solid 1px rgba($color: black, $alpha: 0.08);
    }
  }
}

app-injury {
  &:not(:last-child) {
    .injury-container{
      margin-bottom: 24px;
    }
  }
}