<div class="container">
  <div class="actions-container">
    <button routerLink="/cases" mat-raised-button color="accent">Cazuri</button>
    <button routerLink="/triage" mat-raised-button color="accent">Triaj</button>
    <!-- <button routerLink="/create-case" mat-raised-button color="accent">Generează caz</button> -->
    <button routerLink="/access-case" mat-raised-button color="accent">Accesează caz</button>
  </div>
</div>

<div class="credits" routerLink="/admin">Thanks to Gabi & Razvan for this lovely app</div>
