<div class="triage-casualty-resume">

    <div class="score-container">
        <span class="correct">{{ score.correct }}</span>
        /
        <span class="wrong">{{ score.wrong }}</span>
    </div>

    <!-- <ul class="triage-casualty-resume-list">
        <li>
            <span class="label">Varsta:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.age }} ani</mat-chip>
            </mat-chip-list>
        </li>
        <li>
            <span class="label">Poate merge:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.canWalk? 'DA' : 'NU' }}</mat-chip>
            </mat-chip-list>
        </li>
        <li>
            <span class="label">Respiratie:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.breathing? triageCasualty?.breathing + '/min' : 'NU' }}
                </mat-chip>
            </mat-chip-list>
        </li>
        <li *ngIf="triageCasualty?.breathing == 0">
            <span class="label">Deschidere cai aeriene:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.openAirway? 'Respira' : 'NU respira' }}</mat-chip>
            </mat-chip-list>
        </li>
        <li *ngIf="triageCasualty?.age < childAgeThreshold && triageCasualty?.breathing == 0">
            <span class="label">5 insuflatii:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.insufflations? 'Respira' : 'NU respira' }}</mat-chip>
            </mat-chip-list>
        </li>
        <li *ngIf="triageCasualty?.breathing > 0">
            <span class="label">TRC:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.TRC }}</mat-chip>
            </mat-chip-list>
        </li>
        <li *ngIf="triageCasualty?.breathing > 0">
            <span class="label">Status mental:</span>
            <mat-chip-list>
                <mat-chip disableRipple>
                    {{ triageCasualty?.mentalStatus? 'Executa comenzi simple' : 'NU executa comenzi simple' }}
                </mat-chip>
            </mat-chip-list>
        </li>
    </ul> -->

    <div class="options">
        <button mat-raised-button class="option" (click)="result(triageCasualty?.breathing? triageCasualty?.name +', ' + triageCasualty?.age + ' ani' : triageCasualty?.age + ' ani')">Initierea contactului verbal</button>
        <!-- <button mat-raised-button class="option" (click)="result(triageCasualty?.breathing? 'A avut loc un cutremur' : '-')">Ce s-a intamplat?</button> -->
        <button mat-raised-button class="option" (click)="result(triageCasualty?.breathing? (triageCasualty?.canWalk? 'Da, pot sa merg' : 'Nu, nu pot sa merg') : '-')">Poti sa mergi?</button>
        <!-- <button mat-raised-button class="option" (click)="result(triageCasualty?.breathing? triageCasualty?.injury : '-')">Ce te doare?</button> -->
        <button mat-raised-button class="option" (click)="result(triageCasualty?.breathing? triageCasualty?.breathing + '/min' : 'Nu respira'); showAirway()">Respiratie</button>
        <button mat-raised-button class="option" *ngIf="!triageCasualty?.breathing && openAirway" (click)="result(triageCasualty?.openAirway? 'Respira' : 'Nu respira'); showInsufflations()">Deschidere cai aeriene</button>
        <button mat-raised-button class="option" *ngIf="!triageCasualty?.breathing && insufflations && triageCasualty?.age < childAgeThreshold" (click)="result(triageCasualty?.insufflations? 'Respira' : 'Nu respira')">Insuflatii</button>
        <button mat-raised-button class="option" (click)="result(triageCasualty?.TRC)">TRC</button>
        <button mat-raised-button class="option" (click)="result(triageCasualty?.mentalStatus? 'Executa comenzi simple' : 'NU executa comenzi simple')">Status mental</button>
    </div>
</div>

<div class="actions">
    <div class="tags">
        <button mat-raised-button color="accent" (click)="verify('green')">Verde</button>
        <button mat-raised-button color="accent" (click)="verify('yellow')">Galben</button>
        <button mat-raised-button color="accent" (click)="verify('red')">Rosu</button>
        <button mat-raised-button color="accent" (click)="verify('black')">Negru</button>
    </div>

    <div class="result" [ngClass]="{'correct': (result$ | async) == true, 'wrong': (result$ | async) == false }"
        *ngIf="(result$ | async) != null">{{ (result$ | async) == true? 'Corect' : 'Gresit' }}</div>

    <button mat-raised-button color="accent" (click)="generate()">Genereaza</button>
</div>