<div #screen class="screen">
    <div *ngIf="!(searching$ | async)" class="header" [class.raised]="scrolling$ | async">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <span class="top-bar-title mat-typogrphy">Leziuni</span>

        <div class="actions">
            <button mat-icon-button (click)="openSearch()">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="'create'">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    
    <div *ngIf="searching$ | async" class="header" [class.raised]="scrolling$ | async">
        <button mat-icon-button (click)="closeSearch()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        
        <input #searchInput type="text" placeholder="Caută leziune" class="top-bar-title mat-typogrphy search-input" [formControl]="search" spellcheck="false">
        
        <div class="actions">
            <button [disabled]="!search.value.length" mat-icon-button (click)="clearSearchInput();">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="'create'">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="isLoading$ | async" class="loader-container">
        <mat-spinner></mat-spinner>
    </div>

    <div class="content">
        <div class="injuries-container">
            <app-injury-list-item *ngFor="let injury of injuries$ | async" [routerLink]="injury._id" [injury]="injury">
            </app-injury-list-item>
        </div>
    </div>

    <!-- <div class="footer">
        <div class="actions">
            <button [routerLink]="'create'" mat-fab color="accent">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div> -->
</div>