<div #screen class="screen">
    <div class="header" [class.raised]="scrolling$ | async">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <span class="top-bar-title mat-typogrphy">Leziuni</span>

        <div class="actions">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="loading$ | async" class="loader-container">
        <mat-spinner></mat-spinner>
    </div>

    <div class="content">
        <div class="injuries-container">
            <app-injury-list-item *ngFor="let injury of injuries$ | async" [routerLink]="injury._id" [injury]="injury">
            </app-injury-list-item>
        </div>
    </div>

    <div class="footer">
        <div class="actions">
            <button [routerLink]="'create'" mat-fab color="accent">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>