<app-admin-navbar></app-admin-navbar>
<div class="container">
<h1 class="mat-headline">Adauga un caz</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="caseForm" class="case-form">
    <div formArrayName="victims">
      <mat-form-field *ngFor="let victim of victims.controls; let i = index; let last=last">
        <input (keyup)="onVictimChange(i)" [formControlName]="i" matInput placeholder="Add a victim">
        <button (click)="removeVictim(i)" *ngIf="!last" mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input formControlName="context" matInput placeholder="Case context"/>
    </mat-form-field>
    <button color="primary" mat-button>Save</button>
  </form>
</div>
