<div class="header">
    <button mat-icon-button (click)="close()">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <span class="top-bar-title mat-typogrphy">{{ editManeuver? 'Modifica manevra' : 'Adauga manevra' }}</span>

    <div class="actions" *ngIf="editManeuver">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteManeuver()">Delete</button>
        </mat-menu>
    </div>
</div>

<div class="content">
    <mat-form-field class="example-full-width">
        <textarea placeholder="Description" matInput cdkFocusInitial cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" [(ngModel)]="description" spellcheck="false"></textarea>
    </mat-form-field>

    <div class="custom-form-field">
        <label class="mat-label">Punctaj mediu</label>
        <mat-chip-list class="custom-chip-list">
            <mat-chip *ngFor="let key of getKeys(score.average); let i = index" [selected]="score.average[key]"
                (click)="setScore(score.average, key)">
                {{ key == '0'? '-' : key}}
            </mat-chip>
            <mat-chip class="add-chip" (click)="openAddScoreDialog('average')">
                <mat-icon>add</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="custom-form-field">
        <label class="mat-label">Punctaj maxim</label>
        <mat-chip-list class="custom-chip-list">
            <mat-chip *ngFor="let key of getKeys(score.maximum); let i = index" [selected]="score.maximum[key]"
                (click)="setScore(score.maximum, key)">
                {{ key == '0'? '-' : key}}
            </mat-chip>
            <mat-chip class="add-chip" (click)="openAddScoreDialog('maximum')">
                <mat-icon>add</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="actions-container">
        <button mat-raised-button color="accent" [disabled]="!description || getScore(score.maximum) == null"
            (click)="addManeuver();">{{ editManeuver? 'Modifica': 'Adauga' }}</button>
    </div>

</div>