.score{
    background-color: #fff;
    color: black;
}

.maneuver-container{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;

    &.score-selected{
        .maneuver-description{
            color: rgba($color: black, $alpha: 0.34);
        }
    }
}

.maneuver-description-container{
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 16px;
}

.maneuver-description{
    line-height: 12px;
    color: rgba($color: black, $alpha: 0.64);
    transition: color .1s ease-in-out;
}

.score-container{
    display: flex;
    align-items: center;

    button{
        padding: 0;
        height: 32px;
        line-height: 30px;
        min-width: 32px;
        border-radius: 50%;
        border: solid 1px rgba($color: black, $alpha: 0.08);
        transition: border .06s ease-in-out;

        &:not(:last-child){
            margin-right: 4px;
        }

        &.selected{
            border: solid 1px red;
        }
    }
}