<div class="maneuver-container container" [ngClass]="{'score-selected': score !== null}">
    <div class="maneuver-description-container">
        <span class="mat-small maneuver-description">
            {{ maneuver.descriere }}
        </span>
    </div>
    <div class="score-container">
        <button class="score" [ngClass]="{'selected': score === 0}" mat-button disableRipple (click)="selectScore(0)">0</button>
        <button class="score" [ngClass]="{'selected': maneuver.punctajPartial && score === maneuver.punctajPartial}" mat-button disableRipple [disabled]="!maneuver.punctajPartial" (click)="selectScore(maneuver.punctajPartial)">{{ maneuver.punctajPartial || '-' }}</button>
        <button class="score" [ngClass]="{'selected': score === maneuver.punctajMaxim}" mat-button disableRipple (click)="selectScore(maneuver.punctajMaxim)">{{ maneuver.punctajMaxim }}</button>
    </div>
</div>
