<div class="triage-casualty-resume">

    <div class="score-container">
        <span class="correct">{{ score.correct }}</span>
        /
        <span class="wrong">{{ score.wrong }}</span>
    </div>

    <ul class="triage-casualty-resume-list">
        <li>
            <span class="label">Varsta:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.age }} ani</mat-chip>
            </mat-chip-list>
            <!-- <span class="value">{{ triageCasualty?.age }} ani</span> -->
        </li>
        <li>
            <span class="label">Poate merge:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.canWalk? 'DA' : 'NU' }}</mat-chip>
            </mat-chip-list>
            <!-- <span class="value">{{ triageCasualty?.canWalk? 'DA' : 'NU' }}</span> -->
        </li>
        <li>
            <span class="label">Respiratie:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.breathing? triageCasualty?.breathing + '/min' : 'NU' }}</mat-chip>
            </mat-chip-list>
            <!-- <span class="value">{{ triageCasualty?.breathing? triageCasualty?.breathing + '/min' : 'NU' }}</span> -->
        </li>
        <li *ngIf="triageCasualty?.breathing == 0">
            <span class="label">Deschidere cai aeriene:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.openAirway? 'Respira' : 'NU respira' }}</mat-chip>
            </mat-chip-list>
            <!-- <span class="value">{{ triageCasualty?.openAirway? 'Respira' : 'NU respira' }}</span> -->
        </li>
        <li *ngIf="triageCasualty?.age < childAgeThreshold && triageCasualty?.breathing == 0">
            <span class="label">5 insuflatii:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.insufflations? 'Respira' : 'NU respira' }}</mat-chip>
            </mat-chip-list>
            <!-- <span class="value">{{ triageCasualty?.insufflations? 'Respira' : 'NU respira' }}</span> -->
        </li>
        <li *ngIf="triageCasualty?.breathing > 0">
            <span class="label">TRC:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.TRC }}</mat-chip>
            </mat-chip-list>
            <!-- <span class="value">{{ triageCasualty?.TRC }}</span> -->
        </li>
        <li *ngIf="triageCasualty?.breathing > 0">
            <span class="label">Status mental:</span>
            <mat-chip-list>
                <mat-chip disableRipple>{{ triageCasualty?.mentalStatus? 'Executa comenzi simple' : 'NU executa comenzi simple' }}</mat-chip>
            </mat-chip-list>
            <!-- <span class="value">{{ triageCasualty?.mentalStatus? 'Executa comenzi simple' : 'NU executa comenzi simple' }}</span> -->
        </li>
    </ul>
</div>

<div class="actions">
    <div class="tags">
        <button mat-raised-button color="accent" (click)="verify('green')">Verde</button>
        <button mat-raised-button color="accent" (click)="verify('yellow')">Galben</button>
        <button mat-raised-button color="accent" (click)="verify('red')">Rosu</button>
        <button mat-raised-button color="accent" (click)="verify('black')">Negru</button>
    </div>
    
    <div class="result" [ngClass]="{'correct': (result$ | async) == true, 'wrong': (result$ | async) == false }" *ngIf="(result$ | async) != null">{{ (result$ | async) == true? 'Corect' : 'Gresit' }}</div>
    
    <button mat-raised-button color="accent" (click)="generate()">Genereaza</button>
</div>